td,p,a,center,div { 
	font-family: Trebuchet MS, arial, tahoma, verdana;
	font-size: 11px;
	line-height: 21px 
	}

b {
	font-family: Trebuchet MS, arial, tahoma, verdana;
	font-size: 11px;
	}

a {
	text-decoration: none;
	font-weight:bold;
	font-family: Trebuchet MS, arial, tahoma, verdana;
	font-size: 11px;
	color: CB6597;
	}

a:hover {
	color: #000000;
	cursor:crosshair;
	border-bottom: 1 dashed #000000;
	}